{% extends 'base/base_view.html' %}

{% block content %}
    <header>
        {% include 'base/base_nav.html' %}
    </header>

    <section class="login-page">
        <h2>Twój profil</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.first_name.errors }}
                {{ form.first_name }}
            </div>
            <div class="form-group">
                {{ form.last_name.errors }}
                {{ form.last_name }}
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
            </div>

            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Zapisz</button>
            </div>
        </form>
    </section>
{% endblock %}